<h1>Basics</h1>
<p>En esta pagina web tambien puedes encontrar informacion acerca de <a href="https://4c0adb4edcfb49758a04734df2af4f66.vfs.cloud9.us-east-2.amazonaws.com/static_pages/git">GIT</a>
y sobre <a href="https://4c0adb4edcfb49758a04734df2af4f66.vfs.cloud9.us-east-2.amazonaws.com/static_pages/ruby">RUBY</a> </p>


<p>hola </p>