<% provide(:title, "Basics") %>

    <h1>Basics</h1>
    

<p> Un recurso en el contexto de una aplicacion web se puede considerar como una entidad que representa un modelo que puede ser accedido públicamente el cual genera diferentes verbos, rutas, controladores y acciones que estan predefinidos en cada  uno de estos. <p>
<P> Todos los recursos tienen ciertas operaciones con las cuales podemos modificar el estado publico del recurso, REST es un enfoque de desarrollo de proyectos y servicios web que trabaja con cuatro acciones basicas que son: crear un nuevo recurso, eliminar un recursos del servidor. leer la representacion del estado del recurso, y sobreescribir, editar o grabar una copia del estado del recurso. </P>    
<p> RESTful routing tiene verbos HTTP para cada una de las acciones, que son:</p> 
<P> CREATE que usa el verbo POST</P>
<P> DESTROY que usa el verbo DELETE</P>
<P> READ que usa el verbo GET</P>
<p> UPDATE que usa el verbo PATCH</p>

   

