<% provide(:title, "Basics") %>

    <h1>Basics</h1>
    

<p> Un recurso en el contexto de una aplicacion web se puede considerar como una entidad que representa un modelo que puede ser accedido públicamente el cual genera diferentes verbos, rutas, controladores y acciones que estan predefinidos en cada  uno de estos. Se puede acceder a cada recurso públicamente teniendo todos los recursos las mismas operaciones que nos permiten manipular el estado público del recurso.<p>
<P> Todos los recursos tienen ciertas operaciones con las cuales podemos modificar el estado publico del recurso, en un sistema REST se tiene cuatro operaciones escenciales: CREATE, para crear un nuevo recurso. DELETE, para eliminar recursos del servidor. READ, para leer la representacion del estado del recurso. UPDATE, para sobreescribir o grabar una copia del estado del recurso. </P>    
<p> RESTful routing  tiene 7 acciones basicas que realizan ciertas acciones que podemos usar para nuestros controladores y se alinean con los verbos HTTP, las cuales son:</p> 
<p> INDEX que usa el verbo GET</p>
<p> SHOW que usa el verbo GET</p>
<P> NEW que usa el verbo GET</P>
<P> CREATE que usa el verbo POST</P>
<P> EDIT que usa el verbo GET</P>
<p> UPDATE que usa el verbo PATCH</p>
<P> DESTROY que usa el verbo DELETE</P>
   

