<html>
  <head>
    <title>Home | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
      <h1>Basics</h1>
      <p>go to the next page <a href="https://4c0adb4edcfb49758a04734df2af4f66.vfs.cloud9.us-east-2.amazonaws.com/static_pages/git">git</a> jeje
  </p>
   </body>
</html>

