<% provide(:title, "Home") %>

<div class="center jumbotron">
    
  <h1>BOOTCAMP HOGARU</h1>

  <h2> Esta es la pagina principal, en los botones encontrara informacion acerca de GIT, BASICS y RUBY </h2>

  <%= link_to "Aca puede registrarse", signup_path, class: "btn btn-lg btn-primary" %>
  
</div>
    
   
