<h1>Git</h1>
<p>En esta pagina web tambien puedes encontrar informacion acerca de <a href="https://4c0adb4edcfb49758a04734df2af4f66.vfs.cloud9.us-east-2.amazonaws.com/static_pages/basics">BASICS</a>
y sobre <a href="https://4c0adb4edcfb49758a04734df2af4f66.vfs.cloud9.us-east-2.amazonaws.com/static_pages/ruby">RUBY </a> </p>
<p> Para instalar un nuevo repositorio de git nuevo se debe correr $ git init, se aconseja primero configurar la informacion corriendo $ git config --global user.name "tu nombre" y $ git config --global user.email your.email@example.com con los respectivos datos</p>
<P> Para crear un nuevo branch, se corre $ git checkout -b "nombre ", lo cual crea y ubica en el nuevo brach</P>
<P>Para realizar un commit incluyendo todos los cambios actuale, se debe correr $ git add -A, luego,  git commit -m "nombre del commit" </P>
