<% provide(:title, "Ruby") %>

 
    <h1>Ruby</h1>
<p> Para crear un array se dijita: @nombres = Array.new y para adicionar un elemento se dijita: @nombres = ["ivan", "luis", "pedro"] </p>
<p> Para interpolar 2 strings en ruby se dijita: puts 'Me gusta' + ' Ruby' </p>
<p> Para iterar con each primero se debe tener un arrelo, por ejemplo: calificacione %w[5 4 4 3 5], luego ponemos calificaciones.each do |calificacione|/ puts "nota = #{calificaciones}"/ end (para que itere y coja cada valor del arreglo) </p> 
