<footer class="footer">
  <small>
Pagina web creada por Leonardo sanchez. Bootcamp Hogaru
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>